.myFavorait {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	h1 {
		width: 100%;
	}

	.favoraitCard {
		width: 30%;

		p {
			a {
				display: inline-flex;
				height: 100%;
				width: 100%;
			}
		}
	}
}
